<?xml version="1.0" encoding="UTF-8"?>
<publisher-settings>
	<publisher-groups>
		<group name="rticonfig">
			<run-for-secs>@runSec</run-for-secs>
			<total-publishers>@maxPublisher</total-publishers>
			<load-dist-strategy>balanced</load-dist-strategy>
			<message-size>@msgSize</message-size>
			<dump-details>@dumpDetails</dump-details>
			<num-topics>@maxTopics</num-topics>
			<iteration-type>hot</iteration-type>
			<iteration-drain-time-in-ms>100</iteration-drain-time-in-ms>
			<iteration-to-ignore>0</iteration-to-ignore>
                        <attributes>
                                <attribute>
                                        <key>isReliable</key>
                                        <value>true</value>
                                </attribute>
                                <attribute>
                                        <key>maxObjectsPerThread</key>
                                        <value>10240</value>
                                </attribute>
                                <attribute>
                                        <key>throttlingFactor</key>
                                        <value>500000</value>
                                </attribute>
								<attribute>
                                        <key>latencyCaptureWindow</key>
                                        <value>10</value>
                                </attribute>
								<!-- When you have more than one subscriber on a topic, then change this value
								to indicate how many subscribers are on that topic. -->
								<attribute>
                                        <key>numSubscribers</key>
                                        <value>1</value>
                                </attribute>								
                        </attributes>
		</group>
	</publisher-groups>
	<tasks>
		<task>
			<key>rtiddstput</key>
			<clazz>org.tmt.addons.rti.ThroughputPublisher</clazz>
		</task>
		<task>
			<key>rtidds121latency</key>
			<clazz>org.tmt.addons.rti.LatencyTestPublisher</clazz>
		</task>
		<task>
			<key>rtiddstputlatency</key>
			<clazz>org.tmt.addons.rti.ThroughputLatencyTestPublisher</clazz>
		</task>
	</tasks>
</publisher-settings>
