<?xml version="1.0" encoding="UTF-8"?>
<publisher-settings>
<publisher-groups>

	<group name="rticonfig">
			<run-for-secs>@runSec</run-for-secs>
			<total-publishers>@maxPublisher</total-publishers>
			<load-dist-strategy>balanced</load-dist-strategy>
			<message-size>@msgSize</message-size>
			<dump-details>@dumpDetails</dump-details>
			<num-topics>@maxTopics</num-topics>
			<iteration-type>hot</iteration-type>
			<iteration-drain-time-in-ms>100</iteration-drain-time-in-ms>
			<iteration-to-ignore>0</iteration-to-ignore>
                        <attributes>
                                <attribute>
                                        <key>asyncFlag</key>
                                        <value>false</value>
                                </attribute>
                                <attribute>
                                        <key>batchModeFlag</key>
                                        <value>false</value>
                                </attribute>
                                <attribute>
                                        <key>isReliable</key>
                                        <value>true</value>
                                </attribute>
                                <attribute>
                                        <key>maxObjectsPerThread</key>
                                        <value>10240</value>
                                </attribute>
                                <attribute>
                                        <key>throttlingFactor</key>
                                        <value>500000</value>
                                </attribute>
								<attribute>
                                        <key>latencyCaptureWindow</key>
                                        <value>10</value>
                                </attribute>
								<attribute>
                                        <key>numSubscribers</key>
                                        <value>1</value>
                                </attribute>
								
                        </attributes>
	</group>
	
	<group name="hornetqtest">
			<run-for-secs>@runSec</run-for-secs>
			<total-publishers>@maxPublisher</total-publishers>
			<load-dist-strategy>balanced</load-dist-strategy>
			<message-size>@msgSize</message-size>
			<dump-details>@dumpDetails</dump-details>
			<num-topics>@maxTopics</num-topics>
			<iteration-type>hot</iteration-type>
			<iteration-drain-time-in-ms>0</iteration-drain-time-in-ms>
			<iteration-to-ignore>0</iteration-to-ignore>
						<attributes>
								<attribute>
									<key>host-ip</key>
									<value>127.0.0.1</value>
								</attribute>
								<attribute>
									<key>host-port</key>
									<value>5445</value>
								</attribute>
								<attribute>
									<key>tcp-buffer</key>
									<value>300000000</value>
								</attribute>
								<attribute>
									<key>tcp-no-delay</key>
									<value>false</value>
								</attribute>
								<attribute>
									<key>pre-ack</key>
									<value>true</value>
								</attribute>
								<attribute>
									<key>use-nio</key>
									<value>false</value>
								</attribute>
								<attribute>
									<key>producer-rate</key>
									<value>-1</value>
								</attribute>
								<attribute>
									<key>use-port</key>
									<value>true</value>
								</attribute>
								<attribute>
									<key>latencyCaptureWindow</key>
									<value>200</value>
								</attribute>		
						</attributes>
	</group>
	
	<group name="mrgconfig">
			<run-for-secs>@runSec</run-for-secs>
			<total-publishers>@maxPublisher</total-publishers>
			<load-dist-strategy>balanced</load-dist-strategy>
			<message-size>@msgSize</message-size>
			<dump-details>@dumpDetails</dump-details>
			<num-topics>@maxTopics</num-topics>
			<iteration-type>hot</iteration-type>
			<iteration-drain-time-in-ms>100</iteration-drain-time-in-ms>
			<iteration-to-ignore>0</iteration-to-ignore>
                        <attributes>                                
								<attribute>
                                    <key>brokerhost</key>
                                    <value>127.0.0.1</value>
                                </attribute>
								<attribute>
                                    <key>brokerport</key>
                                    <value>5672</value>
                                </attribute>
								<attribute>
                                    <key>latencyCaptureWindow</key>
                                    <value>100</value>
                                </attribute>
								<attribute>
									<key>throttlingFactor</key>
                                    <value>100</value>
								</attribute>	
                        </attributes>
	</group>
	
	<group name="redistest">
			<run-for-secs>@runSec</run-for-secs>
			<total-publishers>@maxPublisher</total-publishers>
			<load-dist-strategy>balanced</load-dist-strategy>
			<message-size>@msgSize</message-size>
			<dump-details>@dumpDetails</dump-details>
			<num-topics>@maxTopics</num-topics>
			<iteration-type>hot</iteration-type>
			<iteration-drain-time-in-ms>0</iteration-drain-time-in-ms>
			<iteration-to-ignore>0</iteration-to-ignore>
					<attributes>
								<attribute>
									<key>host-ip</key>
									<value>127.0.0.1</value>
								</attribute>
								<attribute>
									<key>host-port</key>
									<value>6379</value>
								</attribute>
								<attribute>
									<key>latencyCaptureWindow</key>
									<value>50</value>
								</attribute>
								<attribute>
									<key>throttlingFactor</key>
									<value>-1</value>
								</attribute>
								<!-- sleep-time is needed for reliability test -->
								<!-- It indicates that after each sleep-time it dumps sent count into log file -->
								<attribute>
									<key>sleep-time</key>
									<value>300000</value>
								</attribute>
					</attributes>
	</group>

	<group name="osplconfig">
			<run-for-secs>@runSec</run-for-secs>
			<total-publishers>@maxPublisher</total-publishers>
			<load-dist-strategy>balanced</load-dist-strategy>
			<message-size>@msgSize</message-size>
			<dump-details>@dumpDetails</dump-details>
			<num-topics>@maxTopics</num-topics>
			<iteration-type>hot</iteration-type>
			<iteration-drain-time-in-ms>100</iteration-drain-time-in-ms>
			<iteration-to-ignore>0</iteration-to-ignore>
                    <attributes>
				                <attribute>
			                        <key>throttlingFactor</key>
                     			    <value>100000</value>
			                    </attribute>
								<attribute>
			                        <key>throttle-gap</key>
                     			    <value>2</value>
			                    </attribute>
								<attribute>
			                        <key>latencyCaptureWindow</key>
                     			    <value>1</value>
			                    </attribute>
					<!-- When you have more than one subscriber on a topic, then change this value
								to indicate how many subscribers are on that topic. -->
								<attribute>
                       			    <key>numSubscribers</key>
		                            <value>1</value>
                  				</attribute>	
						<!-- sleep-time is needed for reliability test -->
								<attribute>
									<key>sleep-time</key>
									<value>300000</value>
								</attribute>
							
                    </attributes>
		</group>


	
	</publisher-groups>
	<tasks>
	
	
		<task>
			<key>rtiddstput</key>
			<clazz>org.tmt.addons.rti.ThroughputPublisher</clazz>
		</task>
		<task>
			<key>rtidds121latency</key>
			<clazz>org.tmt.addons.rti.LatencyTestPublisher</clazz>
		</task>
		<task>
			<key>rtiddstputlatency</key>
			<clazz>org.tmt.addons.rti.ThroughputLatencyTestPublisher</clazz>
		</task>
		

		<task>
			<key>hornetq</key>
			<clazz>org.tmt.addons.hornetq.throughput.HornetqPublisher</clazz>
		</task>
		<task>
			<key>hornetq-latency</key>
			<clazz>org.tmt.addons.hornetq.latency.HornetqLatencyTest</clazz>
		</task>

		
		<task>
			<key>mrg</key>
			<clazz>org.tmt.addons.mrg.MRGTopicProducer</clazz>
		</task>
		<task>
             <key>mrglat</key>
            <clazz>org.tmt.addons.mrg.MRGLatencyTopicPub</clazz>
        </task>
		
		<task>
			<key>redis</key>
			<clazz>org.tmt.addons.redis.throughput.RedisPublisher</clazz>
		</task>
		<task>
			<key>redis-latency</key>
			<clazz>org.tmt.addons.redis.latency.RedisLatencyTest</clazz>
		</task>
		<task>
			<key>redis-rel</key>
			<clazz>org.tmt.addons.redis.reliability.RedisPubReliabilityTest</clazz>
		</task>

		<task>
			<key>osplice</key>
			<clazz>org.tmt.addons.ospl.throughput.OpenSpliceDataPublisher</clazz>
		</task>
		<task>
			<key>osplice-latency</key>
			<clazz>org.tmt.addons.ospl.latency.OpenSpliceLatencyPub</clazz>
		</task>
		<task>
			<key>osplice-rel</key>
			<clazz>org.tmt.addons.ospl.reliability.OpenSplicePubReliability</clazz>
		</task>


		
		
	</tasks>
</publisher-settings>
