<?xml version="1.0" encoding="UTF-8"?>
<subscriber-settings>
	<subscriber-groups>
		<group name="hornetqtest">
			<subscriber-shutdown-after-secs>@shutdownDelay</subscriber-shutdown-after-secs>
			<total-subscribers>@maxSubscriber</total-subscribers>
			<subscriber-distribution>balanced</subscriber-distribution>
			<dump-details>@dumpDetails</dump-details>
			<num-topics>@maxTopics</num-topics>
			<topic-attributes>				
						<attribute>
							<key>host-ip</key>
							<value>127.0.0.1</value>
						</attribute>
						<attribute>
							<key>host-port</key>
							<value>5445</value>
						</attribute>
						<attribute>
							<key>tcp-buffer</key>
							<value>300000000</value>
						</attribute>
						<attribute>
							<key>tcp-no-delay</key>
							<value>false</value>
						</attribute>
						<attribute>
							<key>pre-ack</key>
							<value>true</value>
						</attribute>
						<attribute>
							<key>use-nio</key>
							<value>false</value>
						</attribute>
						<attribute>
							<key>use-port</key>
							<value>true</value>
						</attribute>
						<attribute>
							<key>producer-rate</key>
							<value>-1</value>
						</attribute>						
			</topic-attributes>			
		</group>

		<group name="rticonfig">
			<subscriber-shutdown-after-secs>@shutdownDelay</subscriber-shutdown-after-secs>
			<total-subscribers>@maxSubscriber</total-subscribers>
			<subscriber-distribution>balanced</subscriber-distribution>
			<dump-details>@dumpDetails</dump-details>
			<num-topics>@maxTopics</num-topics>
			<topic-attributes>
                <attribute>
					<key>maxObjectsPerThread</key>
                    <value>10240</value>
                </attribute>
				<attribute>
					<key>isReliable</key>
                    <value>true</value>
                </attribute>
				<attribute>
					<key>numOfDataReaders</key>
                    <value>1</value>
                </attribute>
			</topic-attributes>			
		</group>
	</subscriber-groups>
	<tasks>
		<task>
			<key>hornetq</key>
			<clazz>org.tmt.addons.hornetq.throughput.HornetqSubscriber</clazz>
		</task>
		<task>
			<key>rtiddstput</key>
			<clazz>org.tmt.addons.rti.ThroughputSubscriber</clazz>
		</task>
		<task>
			<key>rtidds121latency</key>
			<clazz>org.tmt.addons.rti.LatencyTestSubscriber</clazz>
		</task>
		<task>
			<key>rtiddstputlatency</key>
			<clazz>org.tmt.addons.rti.ThroughputLatencyTestSubscriber</clazz>
		</task>
	</tasks>
</subscriber-settings>